body {
  background: white;
  color: black;
  font-family: "Varela Round", arial, sans-serif;
  font-size: 18px;
}

h1,
h2 {
  text-align: center;
  font-family: "Varela Round", arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 26px;
  color: #686668;
}
hr {
  border-radius: 100%;
  border: 2px solid #9d999d;
}
img {
  width: 100%;
}
li {
  list-style-type: none;
}
@font-face {
  font-family: "Varela Round";
  src: url(VarelaRound-Regular.ttf);
}
.main {
  background-color: white;
  margin-left: 290px;
  margin-right: 290px;
  margin-top: 85px;
  margin-bottom: 85px;
  height: 100%;
  padding: 8px;
  border: 2px solid rgb(221, 221, 221);
  /* border-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOa3ae2Qvnc8WO3IYEEtC9prSnGnFaCfAA-Q&usqp=CAU') 20; */
}
header {
  text-align: center;
  padding: 70px;
}